<a id="js-navToggle" class="nav__toggle" title="Toggle menu">
	Toggle menu
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</a>

<nav id="js-nav" class="nav" role="navigation">    
    {{ content }}
</nav>