/* --- Include setup files --- */
@import 'setup';
@import 'defaults';

// --------------------------------
//					   		 STYLES
// --------------------------------

body, 
html {
	@include font-body;
	color:$text; 
	height:100%; 
	-webkit-text-size-adjust:100%;
}


// Text & links
h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-title;
	margin:0 0 0.5em;
	line-height:1.2;
}

p {
	margin-top:0;
}

strong {
	@include font-bold;
}

em {
	font-style:italic;
}

small {
	font-size:90%;
}

a {
	text-decoration:none; 
	transition:all 0.2s ease-out; 
	outline:0;

	&:hover {}
	&:focus {}
	&:active {}
}

// Header
.header {
	
}

.header__logo {
	@include rm-text;
	@include bg-img;
	background-image:url('../images/logo.svg');
	background-position:left center;
	display:block;
}

// Menus
.nav {
	ul {
		@include li-reset;

		@include media('<mobile'){
			display:none;
		}
	}
}

.nav__toggle {
	display:none;
	@include rm-text;
	float:right; 
	position:relative;
	padding: 15px 35px 16px 0px;
	z-index:10;
	top:4px;
	transition:all 0.2s ease-in-out;
	margin-right:$bump;

	span, 
	span:before, 
	span:after {
		text-align:center;
		cursor:pointer;
		border-radius: 0px;
		height: 2px;
		width: 25px;
		background: $text;
		position: absolute;
		display: block;
		content: '';
		border-radius:2px;
		transition: all 0.2s ease-in-out;
	}

	span {
		left:4px;
		
		&:before {
			top: -8px;
		}
		&:after {
			bottom: -8px;
		}
	}

	&:hover {
		span,
		span:before,
		span:after {
			background:$text;
		}
	}

	@include media('<=mobile'){
		display:block;
	}
}
.nav__toggle--active {
	span {
		background-color: transparent;
		background:#fff;
		
		&:before,
		&:after {
			top:0;
			background:$text;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	&:hover {
		span {
			background:#fff;
		}
	}
}


// Content


// Footer
.footer {

}